@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
a {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

.navbar {
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: linear-gradient(45deg, #800080, #4D0F4D);
    border-bottom: 1px solid #c9d6df;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    width: 100%;
  }
  
  .navbar .container .link-list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 0;
  }
  
  .navbar .container .link-list li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    cursor: pointer;
  }
  
  .navbar .container .link-list .active {
    color: #0084f8;
    font-weight: 700;
  }
  
  input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: none;
      margin-left: 0;
      border-radius: 8px;
  }
  
  button {
      padding: 10px 20px;
      color: #fff;
      background-color: #000000;
      font-size: 17px;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      font-weight: 200;
  }
  
  button:hover {
      background: #fff;
      color: purple;
  }

 /* --------------------------------------------------- */

.players{
    padding: 60px 0;
    background-color: #000;
    color: #fff;
}

.player-title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 1.25px;
    padding: 0;
}

.players .player-member {
    padding: 40px 0;
    display: flex;
}

.players .player-member .member {
    padding: 0 20px;
    float: left;
}

.players .player-member .member h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
}

.players .player-member .member p {
    text-align: justify;
    font-weight: 600;
    border-radius: 15px;
}

.players .player-image {
    padding: 40px 0 10px 0;
    width: 400px;
    justify-content: center;
    border-radius: 50%;

}



 /* --------------------------------------------------------- */


.staff {
    padding: 60px 0;
    background-color: #000;
    color: #fff;
}

.staff .staff-title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 0;
}

.staff .staff-member {
    padding: 40px 0;
    display: flex;
}

.staff .staff-member .member {
    padding: 0 20px;
    float: left;
    border: 1px solid #ff00ff;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #80008069;
}

.staff .staff-member .member h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
}

.staff .staff-member .member p {
    text-align: justify;
    font-weight: 600;
    border-radius: 15px;
}

.staff .staff-image {
    padding: 40px 0 10px 0;
    width: 400px;
    justify-content: center;
    border-radius: 100%;
}

.patrocinios {
    display: flex;
    padding: 12px;
    justify-content: space-around;
    font-weight: 700;
    color: white;
    background-color: purple;
}

.patrocinios img {
    width: 50px;
}

.cookie {
    display: flex;
    justify-content: space-around;
    background-color: purple;
}

.cookie a{
    color: white;
    font-weight: 400px;
}