@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
a {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

.logotipo {
    padding: 0;
    border: 0;
    margin: 0;
    justify-content: left;
}

.navigation{
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.menu .nav-menu
{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: purple;
    padding: 20px 100px;
    align-items: center;
}

.menu .nav-menu a{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.search-container {
    float: right;
}

input[type=text] {
    padding: 10px;
    margin: 8px 10px 0 0;
    font-size: 17px;
    border: none;
    margin-left: 0;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin-top: 8px;
    color: #fff;
    background-color: #000000;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

button:hover {
    background: #fff;
    color: purple;
    font-weight: 700;
}

 /* --------------------------------------------------- */

.players{
    padding: 60px 0;
    background-color: #000;
    color: #fff;
}

.player-title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 1.25px;
    padding: 0;
}

.players .player-member {
    padding: 40px 0;
    display: flex;
}

.players .player-member .member {
    padding: 0 20px;
    float: left;
}

.players .player-member .member h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
}

.players .player-member .member p {
    text-align: justify;
    font-weight: 600;
    border-radius: 15px;
}

.players .player-image {
    padding: 40px 0 10px 0;
    width: 400px;
    justify-content: center;
    border-radius: 50%;

}



 /* --------------------------------------------------------- */


.staff {
    padding: 60px 0;
    background-color: #000;
    color: #fff;
}

.staff .staff-title h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 0;
}

.staff .staff-member {
    padding: 40px 0;
    display: flex;
}

.staff .staff-member .member {
    padding: 0 20px;
    float: left;
}

.staff .staff-member .member h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
}

.staff .staff-member .member p {
    text-align: justify;
    font-weight: 600;
    border-radius: 15px;
}

.staff .staff-image {
    padding: 40px 0 10px 0;
    width: 400px;
    justify-content: center;
    border-radius: 50%;
}

.patrocinios {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    font-weight: 700;
    color: white;
    background-color: purple;
}

.patrocinios img {
    width: 50px;
}

.cookie {
    display: flex;
    justify-content: space-around;
    background-color: purple;
}

.cookie a{
    color: white;
    font-weight: 400px;
}