*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
}
a {
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

header {
    color: #000000;
    font-weight: bold;
    font-style: normal;
}

.logotipo {
    padding: 0;
    border: 0;
    margin: 0;
    justify-content: left;
}

.navigation{
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #d1d1d1;
}

.menu .nav-menu
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: purple;
    padding: 20px 100px;
    align-items: center;
}

.search-container {
    float: right;
}

input[type=text] {
    padding: 5px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    margin-left: 0;
}

button {
    padding: 6px 10px;
    margin-top: 8px;
    color: #d1d1d1;
    background-color: #000000;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: purple;
}